<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel = 'stylesheet', href = '/css/styles.css'>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Umme Sadia Salsabil. It uses data from mapbox.com and weatherstack.com!</p>
        <img class="potrait" src = '/img/UmmeSadiaSalsabil_picture.jpg'>
    </div>
    
    {{>footer}}
</body>
    
</html>